.yujiecenter{
   text-align: center;
   color: rgb(255, 255, 255); 
   background-color: #dac9c2;
}
.yujiekk{
   background-color:#dac9c2;
   padding: 20px 30px;
   border-radius: 15px;
   color: rgb(255, 255, 255);
   margin: 0px auto;
   width: 80%;
   height: auto;
   font-family: "Noto Serif TC", serif;
}
.me{
   text-align: center;
}
.shu{
   text-align: center;
}
a.yujielink{
   color: rgb(254, 254, 254);
   padding: 0 10px;
   border-radius: 40px;
   background-color:#dac9c2; 
   margin: 2px;;
}
a.yujielink:hover{
   background-color: rgb(255, 255, 255);
   color:#dac9c2; 
}
.yujiego{
   font-size: 20px;
   text-align: center;
   color:#dac9c2; 
}
section#about{
   background-color: bisque;
   background-image:url(../assets/img/back.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
section#school{
   background-color: bisque;
   background-image:url(../assets/img/back.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}section#work{
   background-color: bisque;
   background-image:url(../assets/img/back.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}section#sweet{
   background-color: bisque;
   background-image:url(../assets/img/back.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
section#catfivefive{
   background-color: bisque;
   background-image:url(../assets/img/back.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
section#cta{
   background-color: bisque;
   background-image:url(../assets/img/back.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
.social-icons{
   display:flex;
   gap: 20px;
   justify-content: center;
}
.connect{
   text-align: center;
   color: rgb(83, 83, 83);
}
.photo{
   width: 100%;
   height: 250px;
   border-radius: 10px;
   object-fit: cover;
   margin: 6px;
} 
.food{
  font-size: 20px;
}
a.food{
   color: rgb(255, 255, 255);
   padding: 0 10px;
   border-radius: 40px;
   background-color:#dac9c2; 
}
a.food:hover{
   background-color:#ffffff; 
   color: #dac9c2; 
}
a.yujiebiggg{
   background-color: #dac9c2;
}